# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
private/class/mysql.json
private/class/key.json

private/test.json
private/config.json
private/github_secret.txt

filebin/*/*

vendor/

local
public/local
public/sitedocs/phpdoc-cache-*

composer.phar
composer.lock

*.bak
