/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

/* @font-face { */
   /* font-family: Coolvetica; */
   /* src: url('/css/coolvetica.regular.ttf'); */
/* } */

/* @font-face { */
   /* font-family: Geneva; */
   /* src: url('/css/Geneva.ttf'); */
/* } */

@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

html {
    color: rgba(0,0,0,0.87);
    font-size: 1em;
    line-height: 1.4;
    font-family: 'Noto Sans', sans-serif;
    background-color: #fff;
}

body {
  /* background-image: url('/img/background.jpg');
  background-attachment: fixed;

  background-repeat: no-repeat;
  background-size: cover; */
  /* background-image: linear-gradient(#333, #222); */
  background-image: linear-gradient(to bottom, rgba(34, 34, 34, 0.8), rgba(0, 0, 0, 1)),
    url('/img/stud.png');
  background-size: 40px;
  background-position: center;
}

html,
body {
  height: 100%;
  overflow: auto;
}

.tile {
  margin: 5px;
  padding: 15px;
  font-size: 0.8em;
  background-color: #ebebeb;
  border-radius: .1em;
}

.footer {
  background-color: #222;
  margin: 0 auto;
  margin-bottom: 20px;
  max-width: 1280px;
  font-size: 0.7em;
  text-align: center;
  color: #ccc
}

.footer ul {
  padding: 0;
}

.footer li {
  list-style-type: none;
  display: inline-block;
  width: 100px;
  padding: 0 5px;
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.footer a:hover {
  color: inherit;
  text-decoration: underline;
}

.tile h1,h2,h3,h4 {
  margin-top: 5px;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

input[type="text"], input[type="password"], input[type="email"], textarea {
  display: block;

  margin: 10px;
  padding: 5px;

  font-size: 0.9em;
  border: 1px solid #ccc;

  width: 400px;

  border-radius: 0;
}

input[type="text"]:hover, input[type="password"]:hover, input[type="email"]:hover, textarea:hover {
  border: 1px solid #aaf;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, textarea:focus  {
  background-color: #e6e6ff;
}

input[type="submit"] {
  padding: 15px 25px;
  font-size: 1em;
  text-decoration: none;
  margin: 20px;
  color: #fff;
  position: relative;
  display: inline-block;

  border: none;

  background-color: #55acee;
  box-shadow: 0px 5px 0px 0px #3C93D5;
}

input[type="submit"]:hover {
  background-color: #6FC6FF;
}

input[type="submit"]:active {
  background-color: #6FC6FF;

  border: none;

  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}

.tag {
  border-radius: 3px;
  margin: 3px;
  padding: 4px;
  font-size: 0.8em;
}

.tag:hover {
  color: #fff !important;
  /*background-color: #ddf !important;*/
  border: 2px solid #eef !important;
  text-decoration: none !important;
}

.addoninforight {
  float:right;
  width:50%;
  text-align: right;
}

.addoninfoleft {
  float: left;
  width: 50%;
}

.maincontainer a {
  font-weight: bold;
  text-decoration: none !important;
  color: inherit;
}

.maincontainer a:hover {
  color: #ccc;
}

.maincontainer a:visited {
  font-weight: bold;
}

.maincontainer .center {
  text-align: center;
}

.formtable {
  margin: 0 auto;
  /*width: 960px;*/
}

.formtable td {
  /*width: 50%;*/
  padding: 10px;
  vertical-align: top;
}

.formtable tr > td:first-of-type {
  text-align: right;
  /*width: 30%;*/
  padding: 15px;
}

.formtable input[type="text"], .formtable input[type="password"], .formtable textarea {
  width: 80%;
  margin: 0;
}

.formtable td[colspan="2"] {
  text-align: center !important;
}

.longformtable {
  margin: 0 auto;
  width: 660px;
}

.longformtable td {
  width: 50%;
  padding: 10px;
  vertical-align: top;
}

.longformtable tr > td:first-child {
  text-align: right;
  width: 30%;
  word-wrap: normal;
}

.longformtable td[colspan="2"] {
  text-align: center !important;
}

.navcontainer {
  max-height: 64px;
  font-size: 1.1em;
  margin: none;

  width: 100%;

  text-align: center;
  color: #fff;

  z-index: 99;
}

.navcontainer.green {
  background-color: #2ecc71;
}

.navcontainer.darkgreen {
  background-color: #15B358;
}

.navcontent {
  max-width: 1280px;
  margin: 0 auto;
  font-size: 18px;
  padding: 8px;
  text-align: left;
  vertical-align: middle;
  overflow: hidden;
}

.navcontent > ul {
  vertical-align: middle;
  position: relative;
  display: inline-block;
  float: right;
  margin: 5px;
  padding: 5px;
}

.navcontent > ul > li {
  text-decoration: none;
  text-indent: none;
  display: inline-block;
}

.navbtn {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 5px 15px;

  transition: 0.2s linear;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
}

.navbtn:hover {
  background-color: #48E68B;
  color: #eee !important;
}

.bigheadcontainer {
  position: relative;

  height: 500px;

  margin: none;
  padding: none;

  text-align: center;
  color: #fff;

  overflow: hidden;
}

.home-head {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  z-index: 98;

  background-color: rgba(0,0,0,0.2);

  text-shadow: 2px 2px 8px rgba(0,0,0,1);
}

.home-head .btn {
  text-shadow: none;
}

.home-slideshow {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  z-index: 97;
}

.home-slideshow img {
  overflow: hidden;
}

.home-content {
  margin: 10px;
}

.home-content div {
  min-width: 30%;
  margin-top: 10px;
  padding: 10px;
}

.home-content h3 {
  margin: 0;
}

.maincontainer {
  max-width: 1280px;
  margin: 0 auto;
  font-size: 14pt;
  background-color: #fff;
  overflow: auto;
  /* padding-bottom: 10px; */
  /* min-height: 100%; */
}

.maincontainer::-webkit-scrollbar {
  display: none;
}

.maincontainer > p {
  text-align: left;
}

.searchcontainer {
	float: right;
}

.searchbar {
  float: left;
  font-size: 0.8em !important;
  border: 1px solid #ccc;
  max-width: 250px;
  color: black;
  margin: 7px !important;
}

.addontable {
  margin: 0 auto;
  width: 100%;
}

.addontable tr {
}

.addontable tr:hover {
  background-color: #f6f6f6;
}

.addontable td:first-child {
  width: 64px;
  text-align: center;
}

.addontable td:last-child {
  max-width: 200px;
  text-align: center;
}

.addontable td {
  padding: 10px;
  height: 32px;
}

.addontable thead {
  font-weight: bold;
  text-align: center;
}

.addontable tbody {
  font-size: 1em;
}

.addonheader td {
  padding: 5px;
  background-color: #ddd;
}

.addonheader:first-of-type td {
  border-radius: 10px 10px 0 0;
}

.addonheader:last-of-type td {
  height: 22px;
  border-radius: 0 0 10px 10px;
}

.boardtable {
  width: 100%;
}

.boardtable td {
  font-size: 1.1em;
  padding: 10px;
}

.boardtable thead {
  font-weight: bold;
  text-align: center;
}

.boardtable tbody {
  font-size: 1em;
  text-align: center;
}

.boardtable td:first-of-type {
  width: 40px;
}

.boardtable td:nth-of-type(2) {
  text-align: left;
}

.boardtable tr:nth-child(2n+1) {
  background-color: #f5f5f5;
}

.boardheader tr {
  border-radius: 5px;
}

.boardheader td {
  font-size: 1.2em;
  padding: 5px 10px 5px 10px;
  background-color: #2ecc71;
  color: #fff;
  font-weight: bold;
  text-align: center !important;

  z-index: 99;
}

.boardheader td:nth-of-type(2) {
  text-align: left !important;
}

.listTable > thead > tr > th {
  font-size: 1.1em;
  padding: 5px 10px 5px 10px;
  background-color: #2ecc71;
  font-weight: bold;
  text-align: center !important;
  color: white;
}

.listTable td {
  padding: 5px 10px 5px 10px;
  text-align: center;
}

.listTable td:first-of-type {
  text-align: left;
}

.listTable tr:nth-child(2n+1) {
  background-color: #f5f5f5;
}

.list tr td:first-child {
  border-radius: 0 !important;
}

.list tr td:last-child {
  border-radius: 0 !important;
}

.pagenav {
  float: right;
}

.homebtn {
  padding: 5px 10px;
  font-size: 20px;
  text-decoration: none;
  color: #fff;
  position: relative;
  display: inline-block;
  background-color: #15B358;
}

.dlbtn {
  text-align: center;
  line-height: 10pt;
  font-weight: normal !important;
  text-decoration: none !important;
  width: 200px;
  margin: 0 auto;
}

.btn {
  padding: 15px 25px;
  font-size: 22px;
  text-decoration: none !important;
  margin: 20px;
  color: #fff !important;
  position: relative;
  display: inline-block;
  font-weight: normal !important;

  transition: background-color 0.1s linear;
   -webkit-transition: background-color 0.1s linear;
   -moz-transition: background-color 0.1s linear;
}

.btn:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}

.btn.blue {
  background-color: #55acee !important;
  box-shadow: 0px 5px 0px 0px #3C93D5 !important;
}

.btn.blue:hover {
  background-color: #6FC6FF !important;
}

.btn.green {
  background-color: #2ecc71 !important;
  box-shadow: 0px 5px 0px 0px #15B358 !important;
}

.btn.green:hover {
  background-color: #48E68B !important;
}

.btn.red {
  background-color: #e74c3c !important;
  box-shadow: 0px 5px 0px 0px #CE3323 !important;
}

.btn.red:hover {
  background-color: #FF6656 !important;
}

.btn.purple {
  background-color: #9b59b6 !important;
  box-shadow: 0px 5px 0px 0px #82409D !important;
}

.btn.purple:hover {
  background-color: #B573D0 !important;
}

.btn.orange {
  background-color: #e67e22 !important;
  box-shadow: 0px 5px 0px 0px #CD6509 !important;
}

.btn.orange:hover {
  background-color: #FF983C !important;
}

.btn.yellow {
  background-color: #f1c40f !important;
  box-shadow: 0px 5px 0px 0px #D8AB00 !important;
}

.btn.yellow:hover {
  background-color: #FFDE29 !important;
}

.reviewbody {
  margin: 10px;
}

.userhome {
  width: 100%;
}

.userhome td {
  vertical-align: top;
  font-size: 1em;
}

.useraddon {
  background-color: #eee;
  border-radius: 15px;
  padding: 15px;
  margin: 5px;
}

.useraddon a {
  font-weight: normal;
}

.comments {
  margin: 0 auto;
  padding: 0 15px;
  /*background-color: #e8f4f8;*/
  border-radius: 10px;
}

.commenttable tr.comment {
  border: 1px solid #ccc;
  background-color: white;
}

.commenttable td {
  padding: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.commenttable td:first-child {
  width: 20%;
}

.commenttable textarea {
  margin: 0;
  padding: 5px;
  width: 100%;
  height: 100px;
  font-size: 1em !important;
}

.commenttable input[type="submit"] {
  font-size: 0.8em !important;
  margin: 0;
  margin-top: 10px;
  padding: 10px 20px;
}

.commenttable {
  width: 100%
}

.boardtitle {
	width: 100%;
	text-align: center;
	color: #fff;
	font-weight: bold;
	font-size: 150%;
	text-shadow:
		#000 0px 0px 4px,
		#000 0px 0px 4px,
		#000 0px 0px 4px;
	-webkit-font-smoothing: antialiased;
}

.description {
	line-height: 1em;
	position: relative;
	font-size: small;
	margin-top: -14px;
}

.addonnav {
  background-color: #eee;
  padding: 5px;
  margin: 0;
}

.addonnavmod {
  background-color: #ff8888 !important;
}

.addonnavmod:hover {
  background-color: #dd6666 !important;
}

.addonnav > li {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 155px;
}

.addonnav > li > a {
  display: block;
  background-color: #ddd;
  list-style-type: none;
  margin: 5px;
  padding: 10px;
  text-align: center;
}

.addonnav > li > a:hover {
  color: #fff;
  text-decoration: none;
  background-color: #ccc;
}

.notice {
  font-size: 0.8em;
  display:inline-block;
  background-color: rgba(255,255,255,0.2);
  font-weight: bold;
  padding: 2px 10px;
  border-radius:3px;
  margin: 0 1px;
}

::selection {
  background: #80ffb5;
}

::-moz-selection {
  background: #80ffb5;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */


@media only screen and (max-width: 768px) {
  .navbtn {
    padding: 5px 15px;
  }

  .navcontent > ul > li {
    margin: 5px;
  }

  .navcontainer {
    max-height: none;
  }

  .navcontent {
    font-size: 0.6em;
    text-align: center;
    padding: 0;
  }

  .navcontent > ul {
    float: none;
    height: auto;
    display: block;
    text-align: center;
  }

  .homebtn {
    width: 100%;
    padding: 8px 0;
  }

  /* .navcontent > ul > li {
    margin: 0.2em;
    padding: 0 .5em;
  } */

  .searchbar {
    display: block;
    float: none;
    margin: 0 10px !important;
    margin-top: 15px !important;
    max-width: none;
    width: calc(100% - 32px) !important;
  }

  .tile {
    margin-left: 0;
    margin-right: 0;
    padding: 5px !important;
  }

  .listTable {
    font-size: 0.8em;
  }

  .formtable {
    width: 100%;
    margin: 0;
  }
}

@media only screen and (max-width: 1280px) {
  .maincontainer,
  .navcontent,
  .footer {
    max-width: 1024px;
  }
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
